In [6]:
!conda install -c conda-forge python-snappy fastparquet snappy

^C

In [2]:
#be sure to have this notebook in the same folder as your parquet file

#this line of code loads the library into the notebook
import pandas as pd

#this line of code reads the parquet into memory to a Pandas DataFrame 
df = pd.read_parquet('data.dataset.parquet')

#this line code exports the data into a format for Power BI
df.to_csv('azureml_export.csv')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [3]:
import pandas as pd
df2 = pd.read_csv("labtrain1.csv",index_col=False)

In [4]:
df2.head(10)

,Row_ID,Calendar_Year,Model_Year,NVVar1,NVVar2,NVVar3,NVVar4,HasLoss
0,2888916,2006,1998,-0.23153,-0.266117,-0.272337,-0.251419,0
1,5872967,2005,2004,-0.23153,-0.266117,-0.272337,-0.251419,0
2,3914547,2006,2006,-0.23153,-0.266117,-0.272337,-0.251419,0
3,6453577,2005,2003,-0.23153,-0.266117,4.209403,-0.251419,0
4,9329943,2007,2001,-0.23153,-0.266117,-0.272337,-0.251419,0
5,4783416,2007,2007,3.19779,-0.266117,-0.272337,3.068692,0
6,124027,2007,2000,-0.23153,-0.266117,-0.272337,-0.251419,0
7,6245645,2007,2007,-0.23153,-0.266117,2.715490,-0.251419,0
8,3945544,2006,2004,-0.23153,-0.266117,2.715490,-0.251419,0
9,11030803,2006,1996,-0.23153,-0.266117,-0.272337,-0.251419,0

In [7]:
df2.to_parquet("labtrain1.parquet")