In [16]:
!conda install -c conda-forge python-snappy fastparquet snappy

^C

In [2]:
#be sure to have this notebook in the same folder as your parquet file

#this line of code loads the library into the notebook
import pandas as pd

#this line of code reads the parquet into memory to a Pandas DataFrame 
df = pd.read_parquet('data.dataset.parquet')

#this line code exports the data into a format for Power BI
df.to_csv('azureml_export.csv')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [19]:
import pandas as pd
df2 = pd.read_csv("C:\\adflab\\Deployment\\Files\\input\\FAAmaster\\FAAmaster.txt",index_col=False)

In [20]:
df2.head(10)

,N-Number,Serial Number,MFR MDL Code,Eng MFR Code,Year MFR,Type Registrant,Name,Street 1,Street2,City,...,Other Name 1,Other Name 2,Other Name 3,Other Name 4,Other Name 5,Expiration Date,Unique ID,Kit MFR Code,Kit Model,Mose S Code Hex
0,1AJ,156H,7220282,41514,1973,NaN,JENKINS ARTHUR J ...,PO BOX 129,,KILA,...,NaN,NaN,NaN,NaN,NaN,20180331,90000,,NaN,NaN
1,7D,D-1,4970150,41508,1951,NaN,HOLLIDAY MARK E ...,PO BOX 243,,LAKE ELMO,...,NaN,NaN,NaN,NaN,NaN,20170430,300000,,NaN,NaN
2,1BH,1951034,13007S6,43101,1972,NaN,HINSON BOBBY W ...,PO BOX 988,,LANCASTER,...,NaN,NaN,NaN,NaN,NaN,20170430,240000,,NaN,NaN
3,721NM,11E-1001,7320100,17160,2008,NaN,ORACLE AVIATION LLC ...,12916 MILLARD AIRPORT PLZ,,OMAHA,...,NaN,NaN,NaN,NaN,NaN,20190831,389719,,NaN,NaN
4,6334,,,,,NaN,NIEUPORT LLC ...,20406 FORTUNES WAY,,REMINGTON,...,NaN,NaN,NaN,NaN,NaN,20170903,,,NaN,NaN
5,262AA,,,,,NaN,CANCELLED/NOT ASSIGNED ...,,,,...,NaN,NaN,NaN,NaN,NaN,,,,NaN,NaN
6,33HF,,,,,NaN,BERRYHILL RYAN ...,5241 KIRKSIDE CV,,MEMPHIS,...,NaN,NaN,NaN,NaN,NaN,20160903,,,NaN,NaN
7,458TL,,,,,NaN,CANCELLED/NOT ASSIGNED ...,,,,...,NaN,NaN,NaN,NaN,NaN,,,,NaN,NaN
8,528KP,PV-1402,061003Z,,,NaN,PICTORVISION INC ...,16238 RAYMER ST,,VAN NUYS,...,NaN,NaN,NaN,NaN,NaN,20171130,1164358,,NaN,NaN
9,141BG,14001,05633XW,,,NaN,HEINITZ BRADFORD C ...,31925 369TH AVE NE,,ARLINGTON,...,NaN,NaN,NaN,NaN,NaN,20171130,1164360,,NaN,NaN

In [21]:
df2.to_parquet("C:\\adflab\\Deployment\\Files\\input\\FAAaircraft\\FAAmaster.parquet")