In [2]:
!pip install pyodbc

Collecting pyodbc
  Using cached pyodbc-4.0.32-cp38-cp38-win_amd64.whl (73 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.32

In [3]:
import pyodbc
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=HEKAHEDRON;DATABASE=AdventureworksDW2019;Trusted_Connection=yes')

In [4]:
type(conn)

pyodbc.Connection

In [11]:
import pandas as pd
sql = "SELECT * from FactInternetSales"
data = pd.read_sql(sql,conn)
data

C:\Users\andre\anaconda3\envs\dsiwe202110\lib\site-packages\pandas\io\sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,None,None,2010-12-29,2011-01-10,2011-01-05
1,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-29,2011-01-10,2011-01-05
2,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-29,2011-01-10,2011-01-05
3,336,20101229,20110110,20110105,14501,1,100,4,SO43700,1,...,413.1463,413.1463,699.0982,55.9279,17.4775,None,None,2010-12-29,2011-01-10,2011-01-05
4,346,20101229,20110110,20110105,11003,1,6,9,SO43701,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-29,2011-01-10,2011-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,485,20140128,20140209,20140204,15868,1,100,6,SO75122,1,...,8.2205,8.2205,21.9800,1.7584,0.5495,None,None,2014-01-28,2014-02-09,2014-02-04
60394,225,20140128,20140209,20140204,15868,1,100,6,SO75122,2,...,6.9223,6.9223,8.9900,0.7192,0.2248,None,None,2014-01-28,2014-02-09,2014-02-04
60395,485,20140128,20140209,20140204,18759,1,100,6,SO75123,1,...,8.2205,8.2205,21.9800,1.7584,0.5495,None,None,2014-01-28,2014-02-09,2014-02-04
60396,486,20140128,20140209,20140204,18759,1,100,6,SO75123,2,...,59.4660,59.4660,159.0000,12.7200,3.9750,None,None,2014-01-28,2014-02-09,2014-02-04
60397,225,20140128,20140209,20140204,18759,1,100,6,SO75123,3,...,6.9223,6.9223,8.9900,0.7192,0.2248,None,None,2014-01-28,2014-02-09,2014-02-04

In [12]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
ProductKey,60398.0,4.375579e+02,118.088390,2.140000e+02,3.590000e+02,4.790000e+02,5.290000e+02,6.060000e+02
OrderDateKey,60398.0,2.012973e+07,4745.050338,2.010123e+07,2.013040e+07,2.013071e+07,2.013102e+07,2.014013e+07
DueDateKey,60398.0,2.013010e+07,4985.453229,2.011011e+07,2.013042e+07,2.013073e+07,2.013103e+07,2.014021e+07
ShipDateKey,60398.0,2.012994e+07,4851.060708,2.011010e+07,2.013041e+07,2.013072e+07,2.013102e+07,2.014020e+07
CustomerKey,60398.0,1.884169e+04,5432.430404,1.100000e+04,1.400300e+04,1.814300e+04,2.342975e+04,2.948300e+04
PromotionKey,60398.0,1.041839e+00,0.342605,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.400000e+01
CurrencyKey,60398.0,6.984533e+01,42.146363,6.000000e+00,1.900000e+01,1.000000e+02,1.000000e+02,1.000000e+02
SalesTerritoryKey,60398.0,6.244462e+00,2.961150,1.000000e+00,4.000000e+00,7.000000e+00,9.000000e+00,1.000000e+01
SalesOrderLineNumber,60398.0,1.886321e+00,1.016328,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,8.000000e+00
RevisionNumber,60398.0,1.000000e+00,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
OrderQuantity,60398.0,1.000000e+00,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
UnitPrice,60398.0,4.860869e+02,928.489892,2.290000e+00,7.950000e+00,2.999000e+01,5.399900e+02,3.578270e+03
ExtendedAmount,60398.0,4.860869e+02,928.489892,2.290000e+00,7.950000e+00,2.999000e+01,5.399900e+02,3.578270e+03
UnitPriceDiscountPct,60398.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
DiscountAmount,60398.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
ProductStandardCost,60398.0,2.860657e+02,552.457641,8.565000e-01,2.973300e+00,1.121630e+01,2.945797e+02,2.171294e+03
TotalProductCost,60398.0,2.860657e+02,552.457641,8.565000e-01,2.973300e+00,1.121630e+01,2.945797e+02,2.171294e+03
SalesAmount,60398.0,4.860869e+02,928.489892,2.290000e+00,7.950000e+00,2.999000e+01,5.399900e+02,3.578270e+03
TaxAmt,60398.0,3.888695e+01,74.279193,1.832000e-01,6.360000e-01,2.399200e+00,4.319920e+01,2.862616e+02
Freight,60398.0,1.215222e+01,23.212248,5.730000e-02,1.988000e-01,7.498000e-01,1.349980e+01,8.945680e+01

In [14]:
data["UnitPrice"].max()

3578.27