In [55]:
children =["Andrew","Laura","Joe"]
type(children)

list

In [2]:
children

['Andrew', 'Laura', 'Joe']

In [56]:
#queue structure - LILO/FIFO
children.append("Thomas")
children

['Andrew', 'Laura', 'Joe', 'Thomas']

In [6]:
#stack structure - LIFO/FILO
kid = children.pop(3)
print(kid)
print(children)

Thomas
['Andrew', 'Laura', 'Joe']

In [7]:
children.index("Joe")

2

In [9]:
print (children)
children.pop(children.index("Thomas"))
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [13]:
print (children)
ok = children.remove("Thomas")
print (ok)
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
None
['Andrew', 'Laura', 'Joe']

In [14]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe']
['Andrew', 'Laura']

In [15]:
#checking that input is an integer
'Frank' in children

False

In [16]:
'Laura' in children

True

In [17]:
'Joe'[2]

'e'

In [18]:
'k' in children[2]

IndexError: list index out of range

In [19]:
'k' in '1234567890'

False

In [20]:
'1'  in '1234567890'

True

In [21]:
varin = input("add an integer")
print(varin in '1234567890' )

KeyboardInterrupt: Interrupted by user

In [ ]:
varin

In [22]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [23]:
type(movies[1])

list

In [24]:
movies[1][0]

'Life of Brian'

In [25]:
students[1][3]

100

In [26]:
flick = []
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
movies.append(flick)
movies

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [ ]:
print(movies)

In [27]:
lssimple =[1,2,1,3,2,2,2,2,]

In [28]:
lssimple.index(2)

1

In [30]:
lssimple.count(3)

1

In [34]:
print(children)
children.reverse()
print(children)

['Andrew', 'Laura']
['Laura', 'Andrew']

In [32]:
children

['Laura', 'Andrew']

In [36]:
for child in children:
    print(child.upper())

LAURA
ANDREW

In [37]:
children.sort(key=str.lower)
children

['Andrew', 'Laura']

In [ ]:
children

In [38]:
lssimple

[1, 2, 1, 3, 2, 2, 2, 2]

In [39]:
print(min(lssimple))

1

In [40]:
print(max(lssimple))

3

In [41]:
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [42]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

In [43]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [46]:
# inv = inv + chest
inv += chest
inv

['staff', 'robe', 'scroll', 'pestle']

In [ ]:
chest

In [47]:
inv.pop()
print(inv)

['staff', 'robe', 'scroll']

In [48]:
len(chest)

2

In [49]:
tup =('staff', 'robe', 'scroll', 'pestle')

In [50]:
type(tup)

tuple

In [51]:
tup =(1,"e", 2.6)

In [53]:
a,b,c = tup
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

a:  1
b:  e
c:  2.6

NameError: name 'd' is not defined

In [ ]:
a,b,c,d = tup
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

In [57]:
a,b,c,d = children
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

a:  Andrew
b:  Laura
c:  Joe
d:  Thomas

In [58]:
def dummy_gps():
    x =5
    y = 6
    z = 78
    return x,y,z

In [59]:
gy = dummy_gps()
type(gy)

tuple

In [60]:
a,b,c = dummy_gps()
print("a: ",a)
print("b: ",b)
print("c: ",c)

a:  5
b:  6
c:  78

In [61]:
gy

(5, 6, 78)

In [62]:
childset = {'Andrew', 'Joe', 'Laura', 'Thomas'}

In [63]:
type(childset)

set

In [64]:
'Bob' in childset

False

In [65]:
childset.insert('Wallace')

AttributeError: 'set' object has no attribute 'insert'

In [66]:
child = {'Thomas','Barbara'}

In [67]:
child & childset

{'Thomas'}

In [68]:
child | childset

{'Andrew', 'Barbara', 'Joe', 'Laura', 'Thomas'}

In [69]:
child = {'Thomas','Barbara','Thomas'}
child

{'Barbara', 'Thomas'}

In [70]:
#Python comprehensions
for i in childset:
    print(i)

Laura
Thomas
Andrew
Joe

In [71]:
distinct_lssimple = { i for i in lssimple }
distinct_lssimple

{1, 2, 3}

In [72]:
distinctuple = ( i for i in lssimple )
list(distinctuple)[3]

3

In [73]:
child_list = [g for g in childset]
child_list

['Laura', 'Thomas', 'Andrew', 'Joe']

In [74]:
tf_gt2 = [ i <= 2 for i in lssimple]
tf_gt2

[True, True, True, False, True, True, True, True]

In [75]:
newbundle = zip(lssimple,tf_gt2)
print(newbundle)
print(list(newbundle))

<zip object at 0x0000028DF63028C0>
[(1, True), (2, True), (1, True), (3, False), (2, True), (2, True), (2, True), (2, True)]

In [77]:
pc1 = [(i, i <= 2 ) for i in lssimple]
print(pc1)

[(1, True), (2, True), (1, True), (3, False), (2, True), (2, True), (2, True), (2, True)]

In [78]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'a':4}
my_dict

{'a': 4, 'b': 2, 'c': 3}

In [79]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [80]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('a', [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)])])

In [81]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [82]:
my_dict2.values()

dict_values([[1, 3], '2', 3, [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [84]:
my_dict2['e']

[1, 3]

In [85]:
def sillytry(keyname):
    #exception handling
    #try block
    try:
        value = my_dict2[keyname]
    except KeyError:
        value = 'invalid key'
    finally:
        print('end')
    return value

print(sillytry('e'))

end
[1, 3]

In [86]:
print(sillytry('x'))

end
invalid key

In [87]:
children[4]

IndexError: list index out of range

In [ ]:
IndexError: list index out of range
KeyError: ''

In [88]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [89]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3}

In [90]:
my_dict2.setdefault('h','newerdata')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'h': 'newerdata'}

In [91]:
value = my_dict2.get('f')
print(value is None)

True

In [92]:
type(my_dict2.get('f'))

NoneType

In [93]:
my_dict2.values()

dict_values([[1, 3], '2', 3, 'newerdata'])

In [94]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'h'])

In [95]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('h', 'newerdata')])

In [96]:
my_dict2['e']

[1, 3]

In [97]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3]
key: b value 2
key: c value 3
key: h value newerdata

In [98]:
print(list(my_dict2))

['e', 'b', 'c', 'h']

In [99]:
pc1

[(1, True),
 (2, True),
 (1, True),
 (3, False),
 (2, True),
 (2, True),
 (2, True),
 (2, True)]

In [100]:
child_d = dict(pc1)
child_d

{1: True, 2: True, 3: False}

In [106]:
[m[0:2] for m in movies]

[['The Holy Grail', 1975],
 ['Life of Brian', 1979],
 ['The Meaning of Life', 1983],
 ['Kundun', 1997]]

In [107]:
dmovies = dict([m[0:2] for m in movies])
dmovies

{'The Holy Grail': 1975,
 'Life of Brian': 1979,
 'The Meaning of Life': 1983,
 'Kundun': 1997}

In [108]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [109]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [110]:
contacts['Ben']['address']

'1400 Another Street'

In [111]:
contacts.get('Ben').get('address')

'1400 Another Street'

In [112]:
contacts.get('Anne').get('email')

In [113]:
members = ["John Cleese", "Eric Idle","Terry Jones","Terry Gilliam", "Graham Chapman"]
with open("m_python.txt", "w") as file:
    for m in members:
        file.write(m + "\n")          # adds new line

In [114]:
!head m_python.txt

John Cleese
Eric Idle
Terry Jones
Terry Gilliam
Graham Chapman

In [115]:
pc1

[(1, True),
 (2, True),
 (1, True),
 (3, False),
 (2, True),
 (2, True),
 (2, True),
 (2, True)]

In [116]:
print(pc1[0][0]," ",pc1[0][1])

1   True

In [117]:
print("{} {}".format(pc1[0][0],pc1[0][1]))

1 True

In [119]:
members

['John Cleese', 'Eric Idle', 'Terry Jones', 'Terry Gilliam', 'Graham Chapman']

In [118]:
print(members)

['John Cleese', 'Eric Idle', 'Terry Jones', 'Terry Gilliam', 'Graham Chapman']

In [120]:
with open("pc1.txt", "w") as file:
    for m in pc1:
        file.write(str(pc1[0][0])+" "+str(pc1[0][1]) + "\n")          # adds new line

In [121]:
!head pc1.txt

1 True
1 True
1 True
1 True
1 True
1 True
1 True
1 True

In [122]:
import csv

with open("pc1.csv", "w", newline="") as file:
    writer = csv.writer(file,delimiter= "~",)
    writer.writerows(pc1)

In [123]:
!head pc1.csv

1~True
2~True
1~True
3~False
2~True
2~True
2~True
2~True

In [124]:
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'h': 'newerdata'}

In [125]:
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow(str(x)+str(my_dict2[x]))

In [126]:
!head my_dict2_items.csv

e,[,1,",", ,3,]
b,2
c,3
h,n,e,w,e,r,d,a,t,a

In [ ]:
my_dict2['a']

In [ ]:
csv.writer?

In [ ]:
def calculate_future_value(monthly_investment, yearly_interest, 
                           years):
    # convert yearly values to monthly values
    monthly_interest_rate = yearly_interest / 12 / 100
    months = years * 12

    # calculate future value
    future_value = 0.0
    for i in range(1, months): 
        future_value += monthly_investment_amount
        monthly_interest = future_value * monthly_interest_rate
        future_value += monthly_interest

    return future_value