## My Notebook

#### sample

In [3]:
#function basics
#function name - print - def print...
#function takes one parameter "Hello World"
Hello = "bacon"
World = "potato"
print(Hello)
print(World)
print('Hello World')
var1 = "Hello 2021_10_DSI_WE!!!"
print(var1+' '+Hello)

bacon
potato
Hello World
Hello 2021_10_DSI_WE!!! bacon

In [4]:
number = 4
print(type(number))
number = str(4)
print(type(number))

<class 'int'>
<class 'str'>

In [5]:
4/10

0.4

In [6]:
futureValue = 0.0
type(futureValue)

float

In [7]:
#children Andrew Laura Joe 
children = "Andrew Laura Joe"

In [8]:
# list example
children =["Andrew","Laura","Joe"]
type(children)

list

In [9]:
for x in children:
    print(x)

Andrew
Laura
Joe

In [10]:
len(Hello)

5

In [11]:
len_list = []
# for x in children:
#     len_list.append(len(x))
for x in children: len_list.append(len(x))
len_list

[6, 5, 3]

In [12]:
#list comprehension
[len(x) for x in children]

[6, 5, 3]

In [13]:
len_tuple = tuple(len_list)
len_tuple

(6, 5, 3)

In [14]:
# tuple comprehension
gen_tuple = (len(x) for x in children)
[g for g in gen_tuple]

[6, 5, 3]

In [15]:
#functions and tuples
def len_fun(list_in):
    return [(x, len(x)) for x in list_in]

In [16]:
len_fun(children)

[('Andrew', 6), ('Laura', 5), ('Joe', 3)]

In [17]:
for x in len_tuple:
    print(x)

6
5
3

In [18]:
type(len_tuple)

tuple

In [19]:
# tuples are ready only indexed and iterable
listuple = len_fun(children)
listuple[1][1]

5

In [20]:
Hello[1]

'a'

In [21]:
children[1]

'Laura'

In [22]:
rm = range(3)
type(rm)

range

In [23]:
for r in listuple: 
    print(r)

('Andrew', 6)
('Laura', 5)
('Joe', 3)

In [24]:
months = 3
#Python is a zero-index language
rng_mo = range(months)
for r in rng_mo: 
    print(listuple[r])

('Andrew', 6)
('Laura', 5)
('Joe', 3)

In [25]:
# returns a series of strings from a list of tuples
def mo_fun (molist,monum):
    rng_mo = range(monum)
    for r in rng_mo: 
        print(molist[r])

In [26]:
mo_fun (monum=1, molist=listuple)

('Andrew', 6)

In [27]:
#input - num,list, output = int & str

In [28]:
def most_fun (molist,monum):
    rng_mo = range(monum)
    return \
        molist[monum][0] \
        , molist[monum][1]

In [29]:
 ltstr, ltint = most_fun (monum=1, molist=listuple)
 print(ltstr)
 print(ltint)

Laura
5

In [30]:
bigtuple = (listuple,1)
most_fun(bigtuple)

TypeError: most_fun() missing 1 required positional argument: 'monum'

In [31]:
12*12

144

In [32]:
listuple =list(set(listuple))

In [33]:
#  most_fun (monum=1, molist=listuple)
testdict = {"monum":1, "molist":listuple}
most_fun(**testdict)

('Andrew', 6)

In [34]:
setch = set(children)
setch

{'Andrew', 'Joe', 'Laura'}

In [35]:
child = {'Joe'}
setch.issubset(child)

False

In [36]:
child | setch

{'Andrew', 'Joe', 'Laura'}

In [37]:
first_dict = {k[0]:k[1] for k in listuple}
print(type(first_dict))
print(first_dict)

<class 'dict'>
{'Joe': 3, 'Andrew': 6, 'Laura': 5}

In [38]:
for x in first_dict.items(): print(x)
for x in first_dict.keys(): print(x)
for x in first_dict.values(): print(x)

('Joe', 3)
('Andrew', 6)
('Laura', 5)
Joe
Andrew
Laura
3
6
5

In [39]:
first_dict.get("Joe")

3

In [40]:
first_dict["Joe"] = 5

In [41]:
first_dict["Pat"] = "d"

In [42]:
#for i in range(3)
#iterator
for i in listuple: listuple.append(i)
listuple

KeyboardInterrupt:

In [44]:
len(listuple)

333906703

In [43]:
newset = set(listuple)
len(newset)

3

In [45]:
newset

{('Andrew', 6), ('Joe', 3), ('Laura', 5)}

In [50]:
#tblkids str-Name,int-Length
#list of each column
kidname = []
kidlen = []
kidtbl ={'kidname':kidname, 'kidlen':kidlen}
for i in list(newset):
    kidname.append(i[0])
    kidlen.append(i[1])
kidtbl

{'kidname': ['Andrew', 'Joe', 'Laura'], 'kidlen': [6, 3, 5]}

In [55]:
!pip install seaborn

Collecting seaborn
  Using cached seaborn-0.11.2-py3-none-any.whl (292 kB)
Collecting numpy>=1.15
  Downloading numpy-1.22.1-cp38-cp38-win_amd64.whl (14.7 MB)
Collecting pandas>=0.23
  Downloading pandas-1.4.0-cp38-cp38-win_amd64.whl (10.6 MB)
Requirement already satisfied: matplotlib>=2.2 in c:\users\andre\appdata\roaming\python\python38\site-packages (from seaborn) (3.4.2)
Collecting scipy>=1.0
  Using cached scipy-1.7.3-cp38-cp38-win_amd64.whl (34.2 MB)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\andre\appdata\roaming\python\python38\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\andre\anaconda3\envs\dsiwe202110\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\andre\appdata\roaming\python\python38\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Collecting pillow>=6.2.0
  Downloading Pillow-9.0.0-cp38-cp38-win_amd64.whl (3.2 MB)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\andre\anaconda3\envs\dsiwe202110\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: six in c:\users\andre\anaconda3\envs\dsiwe202110\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Collecting pytz>=2020.1
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Installing collected packages: pytz, pillow, numpy, scipy, pandas, seaborn
Successfully installed numpy-1.22.1 pandas-1.4.0 pillow-9.0.0 pytz-2021.3 scipy-1.7.3 seaborn-0.11.2

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorforce 0.6.4 requires gym>=0.18.3, which is not installed.
tensorforce 0.6.4 requires tensorflow==2.5.0, which is not installed.
tensorforce 0.6.4 requires tqdm>=4.61.0, which is not installed.
tensorforce 0.6.4 requires numpy==1.19.5, but you have numpy 1.22.1 which is incompatible.

In [56]:
import pandas as pd

In [57]:
df_kids = pd.DataFrame(kidtbl)
df_kids
pd.re

  kidname  kidlen
0  Andrew       6
1     Joe       3
2   Laura       5

In [58]:
%whos

Variable      Type         Data/Info
------------------------------------
Hello         str          bacon
World         str          potato
bigtuple      tuple        n=2
child         set          {'Joe'}
children      list         n=3
df_kids       DataFrame      kidname  kidlen\n0  And<...>     3\n2   Laura       5
first_dict    dict         n=4
futureValue   float        0.0
gen_tuple     generator    <generator object <genexp<...>r> at 0x000001F1445D0120>
i             tuple        n=2
kidlen        list         n=3
kidname       list         n=3
kidtbl        dict         n=2
len_fun       function     <function len_fun at 0x000001F1446261F0>
len_list      list         n=3
len_tuple     tuple        n=3
listuple      list         n=333906703
ltint         int          5
ltstr         str          Laura
mo_fun        function     <function mo_fun at 0x000001F1446265E0>
months        int          3
most_fun      function     <function most_fun at 0x000001F144626280>
newset        set          {('Andrew', 6), ('Joe', 3), ('Laura', 5)}
number        str          4
os            module       <module 'os' from 'C:\\Python39\\lib\\os.py'>
pd            module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
r             int          2
rm            range        range(0, 3)
rng_mo        range        range(0, 3)
setch         set          {'Laura', 'Andrew', 'Joe'}
sys           module       <module 'sys' (built-in)>
testdict      dict         n=2
var1          str          Hello 2021_10_DSI_WE!!!
x             int          5

In [61]:
kidrows = [list(n) for n in newset]
kidcolmn = ['Kidname','Kidlen']
kid_df2 = pd.DataFrame(data=kidrows, columns=kidcolmn)
kid_df2

  Kidname  Kidlen
0  Andrew       6
1     Joe       3
2   Laura       5

In [ ]:
df_data=[[1900, '1-4 Years', 1983.8],
         [1901, '1-4 Years', 1695.0]]
df_columns=['Year', 'Age Group', 'Death Rate']

In [96]:
#function definition, name and input parameters - no data types!!!
def calculateFutureValue(monthlyInvestment, monthlyRate, months):
#'''takes numbers and gives estimates'''    
# iterator for length of calculation cycle
    futureValue = 0.0
    for i in range(months):
#business logic
        futureValue = (
                futureValue
                + monthlyInvestment
            ) \
            * \
            ( \
                1 
                + monthlyRate
            )
#output of function
    return futureValue

monthlyInvestment = input("Configure Monthly Investment:\t")
monthlyRate = input("Configure Monthly Rate:\t")
months = input("Configure Months of investment:\t")

KeyboardInterrupt: Interrupted by user

In [97]:
calculateFutureValue(5000,.07,3)

17199.715

In [ ]:
type(Hello)

In [98]:
!python --version

Python 3.8.12

In [109]:
folder = "c:\\"
!dir $folder

SyntaxError: EOL while scanning string literal (Temp/ipykernel_62688/997706305.py, line 1)

In [111]:
print("test")
print("t\ne\n\tst\'\"")

test
t
e
	st'"

In [ ]:
print "Hello World"

In [ ]:
SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World")?
TypeError: unsupported operand type(s) for +: 'float' and 'str'
ModuleNotFoundError: No module named 'tensorflow'
NameError: name 'Hello' is not defined
AttributeError: 'list' object has no attribute 'upper'

In [ ]:
print("Hello World")

In [ ]:
#EOL = End of Line

In [ ]:
counter = 0
score_total = 0
test_score = 0
# != is "Not Equal To"
#while nobody enters 999(quit msg)
while test_score != 999:
#convert text input to integer
    test_score = int(input("Enter test score: "))
#check for valid range 
    if test_score >= 0 and test_score <= 100:
#       score_total = score_total + test_score
        score_total += test_score # add new score to sum of old scores
        counter += 1 # add another counter increment
#give graceful warning
    else:
        print("use numbers between 0 and 100")
#calculate average
average_score = round(score_total / counter)
#give feedback                
print("Total Score: " + str(score_total))
print("Average Score: " + str(average_score))
print("Number of Scores: " + str(counter))

In [ ]:
calculateFutureValue?

In [ ]:
children

In [ ]:
print(children)

In [114]:
junk = [ 4, "boing", 3.6]

In [ ]:
print(junk)

In [ ]:
a = str()
for i in junk:
    a+=str(i)+" "
print(a)

In [ ]:
print(children[0],children[1],children[2])

In [ ]:
a = str()
for i in children:
    a+=str(i)+" "
print(a)

In [112]:
print(children[0],children[1],children[2],sep="\n",end="!!!")

Andrew
Laura
Joe!!!

In [115]:
print(children[0],children[1],children[2],sep=str(junk),end="!!!")

Andrew[4, 'boing', 3.6]Laura[4, 'boing', 3.6]Joe!!!

In [ ]:
newlist = [1,2,3,4]

In [ ]:
print(newlist)

In [ ]:
print("What is your first name?")
first_name = input()

In [ ]:
print("Hello, " + first_name + "!")

In [116]:
len(listuple) == len(len_list)

True

In [ ]:
>>> (min_age == 47)
True
>>> (min_age == 47) and (age == 40)
True
>>> not(active)
True
>>> (min_age == 47) and not(age == 40)
False
>>> (min_age == 47) and not(age == 47)
True
>>> (min_age == 47) and not(age == 47) or (age != min_age)
True
>>> ((min_age == 47) and not(age == 47)) or (age != min_age)
True
>>>

In [ ]:
print(children)

In [ ]:
child2 = str(children)
print(child2)
print(child2.lower())
print(child2.upper())

In [ ]:
type(child2)

In [ ]:
children.upper()

In [ ]:
#!/usr/bin/env python3

#function defintion and input parameters
def calculateFutureValue(monthlyInvestment, monthlyRate, months):
# iterator for length of calculation cycle
    futureValue = 0.0
    for i in range(months):
#business logic
        futureValue = (
                futureValue
                + monthlyInvestment
            ) \
            * \
            ( \
                1 
                + monthlyRate/100
            )
#output of function
    return str(round(futureValue,2))

# display a welcome message
print("Welcome to the Future Value Calculator")
print()

# get input from the user
monthlyInvestment = float(input("Configure Monthly Investment:\t"))
monthlyRate = float(input("Configure Monthly Rate:\t"))
ham = float(input("Configure Years of investment:\t"))

def ytm(years):
    return int(round(years*12,0))

#calculate final value
final_value = str(calculateFutureValue(monthlyInvestment, monthlyRate, ytm(ham)))

# display the results
print("final value: $"+final_value)

In [ ]:
vart = range(0,100,7)
for i in vart: 
    print (i)